@import url('https://fonts.googleapis.com/css2?family=Solway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Solway:wght@800&display=swap');

:root {
  font-family: 'Solway', serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  min-width: 100%;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ee6060;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  font-family: 'Solway', serif;
}

#root {
  background-color: #ee6060;
}
